* {
  font-family: "Lora", serif;
  /* для заголовков и текста в фото*/
  font-family: "Montserrat", sans-serif;
  /* для параграфов*/
  color: var(--Black, #261d1d);
}
/* header start*/
header {
  padding: 45px 100px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.conteiner-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.menu {
  display: flex;
  gap: 30px;
}
.menu_link {
  font-family: Lora;
  font-size: 20px;
  font-weight: 500;
  line-height: normal;
}
.menu_link:hover {
  color: var(--Cian, #50c8d8);
}
.logo {
  width: 163px;
  height: 60px;
  background: #ededed;
}
p.logo {
  text-align: center;
  font-family: Montserrat;
  font-size: 49.389px;
  font-style: normal;
  font-weight: 500;
}
.social {
  display: flex;
  gap: 40px;
}
img {
  width: 24px;
  height: 24px;
  cursor: pointer;
}
/* header end*/

/*conteiner-welcom start*/
.conteiner-welcom {
  padding: 0px 100px 100px;
}
.slider-block {
  position: relative;
}
.slider-img {
  width: 1300px;
  height: 550px;
  object-fit: contain;
}
.block_inside {
  position: absolute;
  border: 2px solid #bd3333;
  width: 1200px;
  height: 550px;
  top: 0;
  margin-left: 50px;
  display: flex;
  justify-content: space-around;
  gap: 800px;
}
.btn-left,
.btn-right {
  position: absolute;
}
/*conteiner-welcom end*/

.button_inside {
  position: fixed;
  z-index: 10;
  top: 45px;
  right: 55px;
  width: 60px;
  height: 60px;
  background: var(--Cian, #50c8d8);
}
@keyframes glowing {
  0% {
    background-color: #50c8d8;
    box-shadow: 0 0 3px #3b94a0;
  }
  50% {
    background-color: #50c8d8;
    box-shadow: 0 0 10px #50c8d8;
  }
  100% {
    background-color: #43a5b3;
    box-shadow: 0 0 3px #43a5b3;
  }
}
.button_inside {
  animation: glowing 1300ms infinite;
}
.logo-phone {
  width: 40px;
  height: 40px;
  object-fit: contain;
  margin-top: 11px;
  margin-left: 7px;
}

/*section-quality start*/
.section-quality {
  padding: 140px 200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.text {
  position: relative;
}
.world {
  position: absolute;
  top: -140px;
  z-index: -10;
  color: rgba(248, 241, 227, 0.5);
  font-family: Lora;
  font-size: 140px;
  font-weight: 500;
  line-height: 120%;
}
.paragraf {
  width: 561px;
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 400;
  line-height: 140%;
}

.slider-small {
  width: 480px;
  height: 300px;
}
/*section-quality end*/

/*cection-rhombus start*/
.cection-rhombus {
  text-align: center;
  display: flex;
  flex-direction: column;
  position: relative;
}
h1 {
  font-family: Lora;
  font-size: 50px;
  font-style: normal;
  font-weight: 500;
  line-height: 140%;
}
.text-p {
  margin-top: 40px;
  margin-left: 300px;
  width: 920px;
  color: #000;
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
}
.block-rhombus {
  margin-top: 120px;
  width: 1200px;
  margin-left: 150px;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}
.block-rombs-normal {
  margin-top: -80px;
  display: flex;
  gap: 10px;
  margin-left: 187px;
}
.block-romb-small {
  margin-left: 375px;
  position: absolute;
  top: 708px;
}
.rhombus {
  margin-left: 100px;
  width: 264.365px;
  height: 264.365px;
  transform: rotate(-45deg);
  background: #f8f1e3;
}
.logo-small {
  width: 50px;
  height: 50px;
  margin-bottom: 30px;
}
.text-block {
  padding-top: 20px;
  padding-left: 55px;
  transform: rotate(45deg);
}
.p-small {
  text-align: center;
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 140%;
}
.p-normal {
  margin-left: 300px;
  z-index: 1;
  width: 900px;
  color: #000;
  font-family: Lora;
  font-size: 20px;
  font-weight: 400;
  line-height: 140%;
  margin-top: 300px;
  margin-bottom: 100px;
}
/*cection-rhombus end*/

/*section-slider-two start*/
.world-two {
  color: rgba(248, 241, 227, 0.5);
  font-family: Lora;
  font-size: 140px;
  font-style: normal;
  font-weight: 500;
  line-height: 120%;
}
.block-sets {
  width: 1300px;
  height: 500px;
  background: linear-gradient(271deg, #f8f1e3 28.29%, #cead66 171.95%), #cead66;
  margin-left: 100px;
  display: flex;
  justify-content: space-between;
}

.contein-set {
  display: flex;
  flex-direction: row;
}
.photo {
  margin-top: -35px;
  width: 443px;
  height: 602px;
  margin-right: 40px;
}
.section-block-text {
  margin-top: 40px;
  flex-direction: column;
  display: flex;
  gap: 10px;
}
.nomber {
  color: var(--Dark_gold, #9a711a);
  font-family: Montserrat;
  font-size: 18px;
  font-weight: 500;
  line-height: 140%;
}
h2 {
  font-family: Lora;
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
}
.set {
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
}
.choise {
  font-family: Lora;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
}
.pichers-set {
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  text-align: center;
}
.block-pichers {
  width: 150px;
}
.img-pichers {
  width: 60px;
  height: 60px;
}
.pichers {
  margin-top: 10px;
  width: 150px;
}
.section-button {
  display: flex;
  flex-direction: row;
  gap: 30px;
}
.buy {
  padding: 10px 49px;
  background: var(--Gold, #cead66);
  color: var(--White, #fff);
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 400;
  line-height: 140%;
}
.buy:hover {
  background-color: #9f8651;
}
.more {
  padding: 10px 49px;
  border: 2px solid #fff;
  color: var(--Dark_gold, #9a711a);
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
}
.more:hover {
  background-color: rgb(220, 220, 220);
}
.sale {
  font-family: Lora;
  font-size: 30px;
  font-style: normal;
  font-weight: 500;
  line-height: 140%;
}
.block-sets .btn-right {
  margin-left: -35px;
}
.block-sets .btn-left {
  margin-left: 10px;
}
/*section-slider-two end*/

/*block_menu-photo start*/
.block_menu-photo {
  margin-top: 140px;
  text-align: center;
}
.text-p .two-p {
  position: relative;
}
.next {
  z-index: -1;
  position: absolute;
  margin-top: -120px;
  margin-left: 400px;
}
.block-flex {
  margin-top: 70px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-bottom: 160px;
}
.photo-block {
  width: 220px;
  height: 220px;
  position: relative;
}
.heart {
  margin-top: 5px;
  margin-left: -30px;
  position: absolute;
}
.new {
  margin-top: -27px;
  position: absolute;
  padding: 6px 8px;
  background: var(--Cian, #50c8d8);
  color: var(--White, #fff);
  font-family: Montserrat;
  font-size: 10px;
  font-weight: 700;
  line-height: 140%;
  text-transform: uppercase;
}
.text-block-two {
  text-align: center;
}
.description {
  width: 220px;
  font-family: Lora;
  font-size: 20px;
  font-weight: 400;
  line-height: 140%;
}

/*block_menu-photo end*/

/*block-inst start*/
.block-inst {
  margin-left: 100px;
  width: 1300px;
  height: 438px;
  background: var(--Light_gold, #f8f1e3);
  margin-bottom: 140px;
  position: relative;
}
.block-border {
  position: absolute;
  margin-top: 45px;
  margin-left: 40px;
  width: 1200px;
  height: 340px;
  border: 3px solid #fff;
}
.block-text-flex {
  padding: 20px 20px 80px 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
h3 {
  font-family: Lora;
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: 140%;
}
.block-link-inst {
  display: flex;
  flex-direction: row;
}
.logo-inst {
  margin-top: 6px;
}
.link-inst {
  color: var(--Cian, #50c8d8);
  font-family: Lora;
  font-size: 30px;
  font-weight: 700;
  line-height: 140%;
  cursor: pointer;
  padding: 0;
}
.link-inst:hover {
  color: #45abb8;
  box-shadow: -1px 18px 28px -9px #56d1f0;
  border-radius: 39%;
}
.block-flex_inst {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.photo-inst {
  width: 150px;
  height: 150px;
}
/*block-inst end*/

/*section-reviews start*/
.three {
  text-align: center;
  position: relative;
}
.review-p {
  margin-left: 678px;
  margin-top: -109px;
  position: absolute;
  font-family: Lora;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 140%;
}
.flex-block_reviews {
  margin-top: -40px;
  display: flex;
  justify-content: space-around;
  margin-bottom: 100px;
}
.block-review {
  z-index: 3;
  width: 438px;
  height: 444px;
  background: #fff;
  box-shadow: 0px 6px 30px 0px rgba(0, 0, 0, 0.07);
  padding: 44px 41px;
  display: flex;
  flex-direction: column;
  gap: 6px;
}
.date {
  font-family: Montserrat;
  font-size: 12px;
  font-weight: 700;
  line-height: 140%;
  text-transform: uppercase;
}
.name {
  font-family: Lora;
  font-size: 20px;
  font-weight: 700;
  line-height: 140%;
}
.block-grade {
  display: flex;
  flex-direction: row;
  gap: 4px;
}
.star {
  width: 17px;
  height: 17px;
}
.reviews {
  width: 359px;
  height: 267px;
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 400;
  line-height: 140%;
}
/*section-reviews end*/

/*block-inst two start*/
.block-insaid {
  padding: 17px 550px 82px 164px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}
h4 {
  font-family: Lora;
  font-size: 60px;
  font-weight: 700;
  line-height: 120%;
}
.call {
  text-align: center;
  height: 90px;
  width: 350px;
}
/*block-inst two end*/

/*footer start*/
footer {
  width: 1300px;
  height: 174px;
  background: var(--Light_gold, #f8f1e3);
  margin-left: 100px;
}
.footer-flex {
  padding: 30px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.footer-p {
  margin-top: 10px;
  margin-left: 100px;
}
/*footer end*/
@media (max-width: 2000px) {
  .conteiner {
    margin-left: 160px;
  }
}

@media (max-width: 1774px) {
  .conteiner {
    margin-left: 90px;
  }
}
@media (max-width: 1586px) {
  .conteiner {
    margin-left: 20px;
  }
}
@media (max-width: 1505px) {
  .conteiner {
    margin-left: 1px;
  }
}
@media (max-width: 1431px) {
  .slider-img {
    margin-left: 45px;
  }
}
@media (max-width: 1381px) {
  .conteiner-welcom {
    padding: 0px 40px 0px;
  }
  .text-p {
    margin-left: 220px;
  }
  .block-rhombus {
    margin-left: 80px;
  }
  .p-normal {
    margin-left: 230px;
  }
  .block-sets {
    margin-left: 50px;
  }
  .block-inst {
    margin-left: 45px;
  }
  .review-p {
    margin-left: 588px;
  }
  footer {
    margin-left: 40px;
  }
}
@media (max-width: 1328px) {
  .slider-img {
    margin-left: 35px;
  }
  .text-p {
    margin-left: 200px;
  }
  .block-sets {
    margin-left: 20px;
  }
  .next {
    margin-left: 340px;
  }
  .block-inst {
    margin-left: 20px;
  }
  footer {
    margin-left: 10px;
  }
}
@media (max-width: 1280px) {
  .conteiner-welcom {
    padding: 0px 10px 0px;
  }
  .text-p {
    margin-left: 170px;
  }
  .block-rhombus {
    margin-left: 40px;
  }
  .p-normal {
    margin-left: 190px;
  }
  .block-sets {
    margin-left: 10px;
  }
  .next {
    margin-left: 300px;
  }
  .block-inst {
    margin-left: 4px;
  }
  .review-p {
    margin-left: 558px;
  }
  footer {
    margin-left: 5px;
  }
}

@media (max-width: 1195px) {
  .slider-img {
    margin-left: 75px;
  }
  h1 {
    margin-left: 60px;
  }
  .section-quality {
    margin-left: 130px;
    padding: 140px 1px;
  }
  .block-sets {
    width: 1250px;
    margin-left: 30px;
  }
  .block-flex {
    margin-left: 60px;
  }
  .block-inst {
    margin-left: 2px;
  }
  .block-review {
    width: 370px;
    height: 444px;
    padding: 24px 11px;
  }
  .flex-block_reviews {
    margin-left: 70px;
  }
  footer {
    margin-left: 1px;
  }
}
@media (max-width: 1002px) {
  .block_inside {
    display: none;
  }
  .conteiner-welcom {
    padding: 0px;
  }
  .slider-img {
    margin-left: 0px;
  }
  .button_inside {
    position: absolute;
  }
  .menu {
    gap: 20px;
  }
  .social {
    gap: 20px;
  }
}
@media (max-width: 1000px) {
  .section-quality {
    justify-content: center;
    align-items: center;
    flex-direction: column;
    display: flex;
    margin-left: 0px;
    padding: none;
  }
  .world {
    position: static;
  }
  h1 {
    width: auto;
    margin-left: 0px;
  }
  .text-p {
    margin-left: 30px;
  }
  .rhombus {
    margin-left: 0px;
    width: 264.365px;
    height: 0ppx;
    transform: none;
    background: transparent;
  }
  .text-block {
    transform: none;
  }
  .block-rhombus {
    margin-top: 0px;
    width: 0px;
  }
  .block-rhombus {
    justify-content: center;
    flex-direction: column;
    display: flex;
    margin-left: 340px;
  }
  .block-rombs-normal {
    margin-top: 0px;
    display: flex;
    gap: 10px;
    margin-left: 0px;
    flex-direction: column;
  }
  .block-romb-small {
    margin-left: 0px;
    position: static;
    top: 0px;
  }
  .p-normal {
    margin-left: 0px;
    z-index: 1;
    width: auto;
    color: #000;
    font-family: Lora;
    font-size: 20px;
    font-weight: 400;
    line-height: 140%;
    margin-top: 0px;
    margin-bottom: 100px;
  }
  .photo {
    display: none;
  }
  .block-sets {
    width: auto;
    margin: 0 auto;
  }
  .next {
    margin: 0 auto;
    margin-left: 0px;
  }
  .block-flex {
    margin-left: 0px;
  }
  .block-inst {
    width: auto;
    height: 498px;
    margin: 0 auto;
  }
  .block-text-flex {
    padding: 0px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .block-border {
    width: auto;
    height: auto;
    position: static;
    margin-top: 5px;
    margin-left: 4px;
    width: auto;
    height: 340px;
    border: none;
  }

  .block-flex_inst {
    gap: 10px;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .flex-block_reviews {
    margin-left: 0px;
    flex-wrap: wrap;
  }
  .call {
    text-align: center;
    height: 40px;
  }
  .block-inst {
    margin-bottom: 150px;
  }
  footer {
    width: auto;
    margin-bottom: 0px;
  }
  .button_inside {
    position: fixed;
  }
}
@media (max-width: 970px) {
  header {
    padding: 45px 25px;
  }
  .text-p {
    margin-left: 0px;
  }
  .text-block {
    padding-left: 55px;
  }
}
@media (max-width: 940px) {
  .slider-img {
    margin-left: 20px;
  }
  .conteiner-header {
    justify-content: space-around;
  }
  .social {
    gap: 10px;
  }
  .slider-img {
    margin-left: 0px;
  }
  .menu {
    gap: 10px;
  }
  .text-block {
    padding-left: 0px;
  }
  .p-normal {
    margin-left: 50px;
  }
  .block-flex {
    flex-wrap: wrap;
  }
  .block-inst {
    height: 467px;
  }
  .text-p {
    width: auto;
    margin-left: 0px;
  }
}
